@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poiret+One&display=swap');

/* colors
darkest green: #3b5a41
mid green: #598257
lt green: #cdd5bf
lighter green: #e3e5dc
off white: #f7f8f4
yellow: #f9ed78
*/

h1 {
  font-family: 'Poiret One';
}

/* .toastBody {
  background-color: #f9ed78;
} */
